version: "2"
services:
  pollenftp:
    container_name: server_ftp
    image: pollenm/docker_server_ftp
    restart: always
    ports:
      - "21:21"
#     - "42042:21"
    network_mode: "host"
    volumes:
      - /home/docker/server_ftp/data/:/home/
      - /home/docker/server_ftp/ftpd.passwd:/etc/proftpd/ftpd.passwd
